<div class="example-container">

  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults" color="primary"></mat-spinner>
  </div>

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" color="primary">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
      <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column.key" [disabled]="!column.sortable"
        [ngStyle]="{'display':  column.key === 'availableCapacity' || column.key === 'installedCapacity' || column.key ===  'unavailableCapacity' ?  'flex-column' :'none', 
       'padding': column.key === 'availableCapacity' || column.key === 'installedCapacity' || column.key === 'unavailableCapacity' ? '5px' : 'none'}">
        {{column.header}}
      </th>
      <td mat-cell *matCellDef="let row">
        <span class="capacity-unit" *ngIf="column.key === 'eventStart'">from</span>
        <span class="capacity-unit" *ngIf="column.key === 'eventEnd'">to</span>

        <span class="fi fi-{{row[column.key] | lowercase | slice:0:2 }}" *ngIf="column.key === 'country'"></span>
        {{row[column.key]}}
        <span class="fi fi-{{row[column.key] | lowercase | slice:3:5 }}" *ngIf="column.key === 'country'"></span>

        <span class="capacity-unit" *ngIf="column.key === 'availableCapacity'">MW</span>
        <span class="capacity-unit" *ngIf="column.key === 'installedCapacity'">MW</span>
        <span class="capacity-unit" *ngIf="column.key === 'unavailableCapacity'">MW</span>

      </td>
    </ng-container>

    <ng-container *ngFor="let header of headers" [matColumnDef]="header.header">
      <th mat-header-cell *matHeaderCellDef [mat-sort-header]="header.key"
        [disabled]="!header.sortable"
        [ngStyle]="{'border-top': header.key === 'capacity' ? '1px' : 'none'}"
        [attr.rowspan]="header.key === 'capacity' ? 1 : 2" [attr.colspan]="header.key === 'capacity' ? 3 : 1">
        {{header.header}}
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedHeaders; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick(row)"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data</td>
    </tr>
  </table>
</div>