table {
  width: 100%;
  border-collapse: separate; /* Don't collapse */
}

table th {
  font-size: 14px;
  color: #fff;
  background-color: #282b39;
  border-bottom: 2px solid rgb(242,242,242);
  padding-top: 25px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
}

td{
  font-family: 'IBM Plex Sans', sans-serif;
}

.mat-header-cell {
  justify-content: center;
}

.mat-row:hover {
  background: rgba(200,200,200);
}
      
.mat-row:nth-child(odd){
  background-color: rgb(223,223,223);
}

.mat-row:nth-child(odd):hover{
  background: rgba(200,200,200);
}

.example-container {
  height: 500px;
  max-width: 100%;
  overflow: auto;
}


[class*="mat-column-"]{
border-right: 2px solid rgb(242,242,242);
padding-left: 8px;
}

.mat-cell{
  border-bottom: 1px solid rgb(184,185,183);
}

/* IMPORTED */

.example-loading-shade {
  position: absolute;
  top: 55px;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-container {
  position: relative;
} 

::ng-deep .mat-sort-header-arrow {
  color: #fff;
}

