::ng-deep .mat-option .mat-pseudo-checkbox {
  display: none;
}

.mat-option[aria-selected="true"] {
  background: #282b38 !important;
  color: white !important;
}

.mat-option {
  font-size: 14px;
  background: #f1eeee;
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.capacity-unit {
  opacity: 0.75;
}

.mat-divider {
  background: #282b38 !important;
}

.input-field {

  color: #282b38 !important;
  padding-bottom: 6px;

}

.filter-header {
  background-color: #282b38;
  color: white;
  text-align: center;
  cursor: pointer;
}

.select-placeholder-container {
  display: flex;
  align-items: center;
  color: #282b38;
}

.select-placeholder-container>span {
  flex: 1;
}

::ng-deep .mat-select-placeholder {
  color: #282b38;
}

::ng-deep .mat-select-arrow {
  color: #282b38;
}

::ng-deep .mat-select-panel {
  background-color: #f1eeee;
  border-radius: 0px !important;
}

::ng-deep .mat-form-field {
  display: block !important;
}