::ng-deep .mat-option .mat-pseudo-checkbox{ display: none; }

.mat-option[aria-selected="true"] {
  background: #282b38 !important;
  color: #ffffff !important;
}

.mat-option:hover{
  background: #282b38 !important;
  color: #ffffff;
}

.mat-option{
  font-family: 'IBM Plex Sans', sans-serif;
  border-bottom: 1px solid white;
  font-size: 14px;
  background: white;
}

.additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  .select-container{
    margin-top:5px;
  }
  
  .capacity-unit{
    opacity: 0.75;
  }
  
  .input-container{
    margin-top:5px;
    margin-bottom:5px;
  }
  
  .mat-divider{
    background: #282b38 !important;
  }
  
  .input-field{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    color: #282b38 !important;
    padding-bottom: 6px;
  }
  
  .filter-header{
    font-weight: bold;
    text-align: center;
    margin-bottom:5px;
    cursor: pointer;
  }

  .select-placeholder-container {
    display: flex;
    align-items: center;
    color: #282b38;
  }
  
  .select-placeholder-container > span {
    flex: 1;
  }
  
  .hide-dummy-option {
    display: none !important;
  }
 
  ::ng-deep .mat-select-placeholder {
    color: #282b38;
}

::ng-deep .mat-select-arrow {
  color: #282b38;
}
