::ng-deep .mat-option .mat-pseudo-checkbox{ display: none; }

.mat-option[aria-selected="true"] {
  background: #282b38 !important;
  color: #ffffff !important;
}

.mat-option:hover{
  background: #282b38 !important;
  color: #ffffff;
}

.mat-option{
  font-family: 'IBM Plex Sans', sans-serif;
  border-bottom: 1px solid white;
  font-size: 16px;
  background: white;
}

.additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  .select-container{
    margin-top:5px;
  }
  
  .capacity-unit{
    opacity: 0.75;
  }
  
  .input-container{
    margin-top:5px;
    margin-bottom:5px;
  }
  
  .mat-divider{
    background: #282b38 !important;
  }
  
  .input-field{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    color: #282b38 !important;
    padding-bottom: 6px;
  }
  
  .filter-header{
    font-weight: bold;
    text-align: center;
    margin-bottom:5px;
  
  }
  