<form [formGroup]="form">
<mat-form-field floatLabel="never" appearance="none">
  <mat-select #filterSelect (openedChange)="openedChange()" placeholder="All {{filter.name}}"
    formControlName="{{filter.endpoint}}"  multiple (infiniteScroll)="getNextBatch()" [complete]="offset === filter.options.length" msInfiniteScroll>
    <mat-select-trigger>
      {{filterControl.value ? filteredValue : ''}}
      <span *ngIf="filterControl.value?.length > 1" class="additional-selection">
        (+{{filterControl.value.length - 1}} {{filterControl.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <div class="select-container">
      <div class="filter-header" (click)="filterSelect.close()">{{ filter.name }}</div>
      <mat-divider></mat-divider>

      <mat-option (click)="unselectAll(filterControl)" [value]="{ code: 00 , name: ''}">
        <mat-icon>cancel</mat-icon>Unselect All
      </mat-option>

      <mat-divider></mat-divider>
      <div class="input-container" *ngIf="filter.expandedSearch">
        <mat-optgroup>
          <mat-form-field style="width:100%;" floatLabel="never" appearance="none">
            <input matInput autocomplete="off" class="input-field" placeholder="Search"(input)="onSearchChange($event.target.value)">
          </mat-form-field>
        </mat-optgroup>
        <mat-divider></mat-divider>
      </div>


      <mat-optgroup *ngIf="(filteredOptions$ | async).length == 0">
        <div class="select-placeholder-container"> <span>Loading...</span>
          <mat-spinner matPrefix class="spinner" diameter="20"></mat-spinner>
        </div>
      </mat-optgroup>

      <mat-option #opt *ngFor="let option of filteredOptions$ | async" [value]="option" [disabled]="option.code === 'null'">
        <mat-icon matSuffix *ngIf="opt.selected">close</mat-icon> {{option.name}}
      </mat-option>
    </div>
  </mat-select>
</mat-form-field>
</form>