.en-logo{
    width: 30%;
    max-width: 200px;
    height: auto;
  }

.mat-toolbar{
    font-size: 14px;
}

.spacer {
    flex: 1 1 auto;
}

.nav-spacer{
    width: 20px;
}
.mat-flat-button{
    border-radius: 0;
}