:host .mat-button-toggle-group{
  font-size: 14px;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0;

}

.mat-button-toggle{
  background-color: #E2E2E2;
  color: #282b39;
}

.mat-button-toggle-checked {
  background-color: #282b39;
  color: #ffff;
}


