.sidebar-container {
    background: #F5F5F5;
    border: none;
    padding-left: 15px;
}

.filter-field {
    padding: 0px 10px 0px 10px;
}

.filter-container {
    background-color: #EBEBEB;
    border-radius: 0px;
    padding-block: 10px;
}

.table {
    padding: 0px 15px 0px 15px;
}

.home-component {
    background-color: #F5F5F5;
}

.mat-flat-button {
    border-radius: 0;
    display: block;
    margin: auto;
    font-size: 14px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-child-container {
    padding: 10px;
}