<mat-drawer-container class="home-component">
  <mat-drawer mode="side" opened class="sidebar-container">
    <div class="filter-container">

      <div class="filter-field" *ngFor="let filter of optionFilters">

        <ng-container *ngIf="filter.isDateFilter">
          <app-filter-date [form]="filterFormGroup" [filter]="filter"></app-filter-date>
        </ng-container>


        <ng-container *ngIf="!filter.isDateFilter">
          <app-filter-opt [form]="filterFormGroup" [filter]="filter" [isLoadingOptions]="isLoadingOptions">
          </app-filter-opt>
        </ng-container>


      </div>
      <div class="button-container">
        <div class="button-child-container">
          <button mat-flat-button color="primary" (click)="clear()">
            Clear
          </button>
        </div>
        <div class="button-child-container">
          <button mat-flat-button color="primary" (click)="filter()">
            Filter
          </button>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container" *ngIf="auth.isLoading$ | async; else loaded">
      <app-loading></app-loading>
    </div>

    <ng-template #loaded>
      <div class="table">
        <app-dashboard [dataSource]="dataSource" [isLoadingResults]="isLoadingResults"></app-dashboard>
      </div>
    </ng-template>
  </mat-drawer-content>
</mat-drawer-container>