.map-container {
   position:relative;
   height: 93vh
  }
  
  .map-frame {
    border: 2px solid rgba(0, 0, 0, 0.529);
  }
  
  #map {
    position: absolute;
    height:100%;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  @keyframes blink {
    100% {
      height: 30px;
      opacity: 0;
      width: 30px;
    }
  }