.map-container {
   position:relative;
   height: 91vh;
   overflow: hidden ;
   width: 100%;
  }
  
  #map {
    position: absolute;
    height:100%;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  @keyframes blink {
    100% {
      height: 30px;
      opacity: 0;
      width: 30px;
    }
  }